body {
    background: white url(background_white.png) repeat;
	margin: 0px;
}
#content {
	background: #55aa99 url(background_blue.png) repeat-x;
	margin: 40px;
	border-style: solid;
	border-color: #eeddbb;
}

p, h3, a, d, div {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	color: #eeffee;
    text-shadow: -1px 0 #447778, 0 1px #447778, 1px 0 #447778, 0 -1px #447778;
}

d {
	font-size: 50px;
	margin: 0px;
}


h3 {
	font-size: 20px;
	margin: 0px;
}

a {
	text-decoration: none;
	display: block;
}

#link1 {
	font-size: 2px;
	margin: 0 auto;
	margin-top: 0px;
	width: 400px;
	height: 250px;
	background: transparent url(Mango_hm.png) no-repeat;
	background-position: center top 0px;
}

#link2 {
	font-size: 2px;
	margin: 0 auto;
	margin-top: 0px;
	width: 400px;
	height: 220px;
	background: transparent url(Mango_click1.png) no-repeat;
	background-position: center top 20px;
}
#link3 {
	font-size: 2px;
	margin: 0 auto;
	margin-top: 0px;
	width: 400px;
	height: 220px;
	background: transparent url(Mango_click3.png) no-repeat;
	background-position: center top 0px;
}